@model Nettbutikken.Models.Vare

@{
    ViewBag.Title = "Slett";
}

<h2>Slett</h2>

<p>
    Er du sikker på at du vil slette varen:
    <strong>@Model.Varenavn</strong>?
</p>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Slett" class="btn btn-danger"/>
    </p>
    <p>
        @Html.ActionLink("Tilbake til listen", "Index")
    </p>

}